template(id='main-page-sections')

  .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire

          ul.hot__list


        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud

          ul.last__list

